.full-bg-image{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  min-height: calc(45vh + 130px);
  max-height: 500px;
  @media #{$medium}{
    min-height: 80vh;
    max-height: unset;
  }
}
.img-responsive{
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: none;
  }
}
.r-16-9{
  aspect-ratio: 16 / 9;
}