@import "modules/modules";
@import "pages/pages";
@import "component/component";

// @import '../../../node_modules/swiper/swiper.scss';
// @import '../../../node_modules/swiper/modules/pagination/pagination.scss';
// @import '../../../node_modules/swiper/modules/navigation/navigation.scss';

html {
	font: 400 14px $base_font_family;
	line-height: $base_line_height;
	scroll-behavior: smooth;

	@media #{$medium} {
		font-size: $base_font_size;
	}
}

body{
  margin: 0;
}

a {
	color: $link;
	text-decoration: none;

	&:hover,
	&:focus {
		color: $link_hover;
	}
}

main{
  position: relative;
}

.relative{
  position: relative;
}

.container {
	width: 92%;
	max-width: 960px;
	margin: 0 auto;

	@media #{$medium} {
		width: 94%;
	}

	@media #{$extra_large} {
		max-width: 1280px;
	}
}

.container--medium{
	width: 92%;
	margin: 0 auto;
	@media #{$medium}{
		width: 80%;
	}
	@media #{$large}{
		width: 60%;
	}
}

// header {
//   background: transparent;
//   position: absolute;
// 	z-index: 4;
// 	width: 100%;
// }

.navbar-sticky {
  background: white;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  box-shadow: 0 1px 1px $dark-charcoal;
  .navbar {
    display: flex;
    justify-content: flex-end;
    margin-right: 1%;
    height: 100%;
    .nav-link {
      cursor: pointer;
      color: black;
      margin-top: 8px;
      margin-bottom: 8px;
      padding: 5px 10px;
      font-size: 16px;
      @media #{$medium} {
        margin-top: 12px;
        margin-bottom: 12px;
      }
    }
    .btn-active {
      display: block;
      position: absolute;
      top: 0;
      left: 1%;
    }
    .btn-disable {
      display: none;
    }
  }
}

.bg-blue {
  background-color: $blue;
}

.bg-white {
  background-color: $white;
}

footer {
  border-top: 1px solid $grey;
  margin: 0 auto;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    text-align: center;
    margin: 0;
    a {
      text-decoration: underline;
    }
  }
  

  // @media #{$large} {
    
  // }
}